@import 'custom';

.footer-contact {
    font-family: GT Alpina, 'Times New Roman', Times, serif;
    font-size: 36px !important;
}

.subheader-footer {
    text-transform: uppercase !important;
    font-weight: 500 !important;
}

.footer-mail {
    text-decoration: none;
    color: inherit;
}