@import 'custom';

.grid-container {
    display: grid;
    grid: auto / repeat(3, 1fr);
    gap: 1rem;
    row-gap: 3em;
  }
  .grid-item {
    border: 1px solid $bacher-green-dark;
    padding: 1rem;
    text-align: center;
    grid-column: span 2;
  }
  .grid-container .grid-item:nth-child(3n), 
  .grid-container .grid-item:nth-child(3n-1) {
    grid-column: span 1;
    border: 0;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .grid-container {
        display: block;
    }
}