@import 'custom';

.border-header {
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid $bacher-green-dark;
    box-sizing: content-box;
    font-size: $font-size-base * 1.125 !important;
}

.company-name-header {
    text-transform: uppercase !important;
}

.contact-navbar {
    border-left: 2px solid $bacher-green-dark;
}

.bg-primary {
    background-color: $bacher-green;
}

.border-logo {
    border-right: 2px solid $bacher-green-dark;
}

.border-contact {
    border-left: 2px solid $bacher-green-dark;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .contact-navbar {
        border-left: 0px solid $bacher-green-dark;
    }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
    .abs-center-x {
        top: 0;
    }
}