@import 'custom';

$border-header: 5px;

.border-header {
    display: flex;
    align-items: center;
    text-align: center;
    border-top: $border-header solid $bacher-green-dark;
    border-bottom: $border-header solid $bacher-green-dark;
    border-right: $border-header solid $bacher-green-dark;
    box-sizing: content-box;
    font-size: $font-size-base * 1.125 !important;
}

.company-name-header {
    text-transform: uppercase !important;
}

.contact-navbar {
    border-left: $border-header solid $bacher-green-dark;
}

.bg-primary {
    background-color: $bacher-green;
}

.border-contact {
    border-left: 2px solid $bacher-green-dark;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: map-get($grid-breakpoints, lg)) {
    .border-header {
        display: block;
        align-items: center;
        text-align: center;
        border: 0px;
        font-size: $font-size-base * 1.125 !important;
    }

    .contact-navbar {
        display: none;
        border-left: 0px solid $bacher-green-dark;
    }

    .abs-center-x {
        position: relative;
        left: 0%;
        transform: translateX(0%);
    }
}