@import 'custom';

$font-size-h1: 72px;

.bg-primary-light {
    background-color: $bacher-green-light;
}

.bg-primary-extra-light {
    background-color: $bacher-green-extra-light;
}

.landing-box {
    padding: 2rem 2rem 2rem 2rem !important;
    border: 2px solid $bacher-green-dark;
}

.contact-box {
    padding: 3.5rem 3.5rem 3.5rem 3.5rem !important;
    border: 2px solid $bacher-green-dark;
}

.contact-link {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}
.contact-box-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

h1 {
    font-family: GT Alpina, 'Times New Roman', Times, serif;
    font-size: $font-size-h1 !important;
    color: $bacher-green-dark;
}

h2 {
    font-family: GT Alpina, 'Times New Roman', Times, serif;
    font-size: 48px !important;
    color: $bacher-green-dark;
}

h3 {
    font-family: GT Alpina, 'Times New Roman', Times, serif;
    color: $bacher-green-dark;
}

@media (max-width: map-get($grid-breakpoints, md)) {
    .contact-box-content {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    .contact-box {
        padding: 1rem 1rem 1rem 1rem !important;
    }

    h1 {
        font-size: $font-size-h1*0.9 !important;
    }
}