<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div id="app">
        <button v-on:click="filter('all')">ALL</button>
        <button v-on:click="filter('hotel')">HOTEL</button>
        <button v-on:click="filter('privat')">PRIVAT</button>

        <ul>
            <template v-for="project in projects" :key="project.index">
                <li v-if="selected == project.type || selected == 'all'">
                    {{ project.title }} // {{ project.content }} // {{project.type}}
                </li>
              </template>
        </ul>
    </div>
    

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selected: 'all',
                projects: [
                {
                    title: 'Projekt 1',
                    content: 'Das ist Projekt 1.',
                    type: 'hotel'   
                },
                {
                    title: 'Projekt 2',
                    content: 'Das ist Projekt 2.',
                    type: 'hotel'
                },
                {
                    title: 'Projekt 3',
                    content: 'Das ist Projekt 3.',
                    type: 'privat'
                }
                ]
            },
            methods: {
                filter: function(message) {
                    let projectType = message;
                    this.selected = projectType;
                }
            }
          });
    </script>


</body>
</html>