<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="./public/css/style.css">

    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary border-header">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="philosophie.html">Philosphie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="projekte.html">Projekte</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav abs-center-x">
                    <li class="nav-item"><a class="nav-link company-name-header fw-bold" href="index.html">Hans Bacher</a></li>
                </ul>
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item px-3">
                        <a class="nav-link" href="#">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" id="app">

        <div class="container-fluid p-5">
            <button class="btn btn-secondary mx-2" v-on:click="filter('all')">ALL</button>
            <button class="btn btn-secondary mx-2" v-on:click="filter('hotel')">HOTELLERIE</button>
            <button class="btn btn-secondary mx-2" v-on:click="filter('privat')">PRIVAT</button>
            <button class="btn btn-secondary mx-2" v-on:click="filter('tueren')">TÜREN</button>
        </div>
        
        <div class="container-fluid p-5 grid-container">
            <template v-for="project in projects" :key="project.index">
                <div class="p-4 grid-item" v-if="selected == project.type || selected == 'all'">
                    <span>{{ project.year }}</span>
                    <h2>{{ project.title }}</h2>
                    <span>{{ project.content }}</span>
                    <div class="fw-bold">Mehr -></div>
                </div>
              </template>
        </div>
    </div>
    

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                selected: 'all',
                projects: [
                {
                    title: 'Hotel Falkensteiner',
                    content: 'Das ist Projekt 1.',
                    type: 'hotel',
                    year: '2017'   
                },
                {
                    title: 'Hotel xyz',
                    content: 'Das ist Projekt 2.',
                    type: 'hotel',
                    year: '2018'
                },
                {
                    title: 'Privat Mustermann',
                    content: 'Das ist Projekt 3.',
                    type: 'privat',
                    year: '2020'
                },
                {
                    title: 'Haus Mustermann',
                    content: 'Das ist ein Projekt mit Türen.',
                    type: 'tueren',
                    year: '2021'
                }
                ]
            },
            methods: {
                filter: function(message) {
                    let projectType = message;
                    this.selected = projectType;
                }
            }
          });
    </script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>